<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Moon Love</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
			integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
			crossorigin="anonymous"
		/>
		<style>
			.flex1 {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.app-btn {
				width: 45%;
				max-width: 160px;
				color: #fff;
				margin: 20px 0;
				text-align: left;
				border-radius: 5px;
				text-decoration: none;
				font-family: "Lucida Grande", sans-serif;
				font-size: 10px;
				text-transform: uppercase;
				padding: 10px 0;
			}

			p {
				margin: 0;
			}
			.app-btn.blu {
				background-color: #101010;
				transition: background-color 0.25s linear;
			}

			.app-btn i {
				width: 20%;
				text-align: center;
				font-size: 28px;
				margin-right: 7px;
			}
			.app-btn .big-txt {
				font-size: 17px;
				text-transform: capitalize;
			}
		</style>
	</head>
	<body>
		<section class="mt-4">
			<div class="container">
				<div class="d-flex flex-column pt-4 justify-content-center">
					<h1>Moon love</h1>
					<p>
						Now our app is available on App store. Apple users can
						download and use it. Our android app is on the way.
						Android users will be able to use it soon.
					</p>
					<a
						class="app-btn blu flex1 vert"
						href="https://apps.apple.com/us/app/moonlove/id1661086509"
					>
						<i class="fab fa-apple"></i>
						<p>
							Available on the <br />
							<span class="big-txt">App Store</span>
						</p>
					</a>
				</div>
			</div>
		</section>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
